<template>
  <div
    class="
      dark:bg-gray-900
      bg-gray-50
      dark:text-white
      text-gray-800
      min-h-screen
      flex flex-col
    "
  >
    <Header></Header>
    <main class="main container">
      <NuxtPage />
    </main>
    <Footer></Footer>
  </div>
</template>

<script setup>
</script>

<style lang="postcss" scoped>
.main {
  @apply mx-auto flex-1 py-4;
  max-width: 1000px;
}
</style>