<template>
  <div
    class="
      dark:bg-gray-900
      bg-gray-50
      dark:text-white
      text-gray-800
      min-h-screen
      flex flex-col
    "
  >
    <Header></Header>
    <main class="main container">
      <h1>{{ error.message }}</h1>
      <NuxtLink class="cursor-pointer" @click="router.back">
        Previous page
      </NuxtLink>
    </main>
    <Footer></Footer>
  </div>
</template>

<script setup>
defineProps({
  error: Object,
});

const router = useRouter();
</script>

<style lang="postcss" scoped>
.main {
  @apply mx-auto flex-1 py-4 text-center;
  max-width: 1000px;
}
</style>