<template>
  <img
    v-show="project.image"
    class="project-image"
    :src="project.image"
    :alt="project.title"
  />
  <h1>{{ project.title }}</h1>
  <p class="mb-4">
    <span>Created by paparrot </span>
    <ClientOnly>
      <span>{{ format(project.created_at) }}</span>
    </ClientOnly>
  </p>
  <ul class="project-tags" v-if="project.tags && project.tags.length > 0">
    <li class="project-tag" v-for="tag of project.tags" :key="tag">
      <NuxtLink
        class="tag-link"
        :to="`/tags?type=project&tag=${tag.toLowerCase()}`"
        >{{ tag }}</NuxtLink
      >
    </li>
  </ul>
  <Content :data="project" />
</template>

<script lang="ts" setup>
import { format } from "timeago.js";
import Project from "@/types/Project";

const { path } = useRoute();
const { data: project } = await useAsyncData("project", () => {
  return queryContent<Project>(path).findOne();
});

if (!(await project.value?.slug)) {
  throw createError({ statusCode: 404, message: "Project not found" });
}
</script>

<style lang="postcss" scoped>
.project-image {
  @apply mb-10;
}

.project-tags {
  @apply flex gap-3 mb-6;
}

.tag-link {
  @apply px-4 py-1 border-2 border-primary-500 dark:border-secondary-500 hover:bg-primary-200 dark:hover:bg-secondary-800 rounded-full;
}
</style>