<template>
  <h1>Projects</h1>
  <CardList :items="projects" />
</template>

<script lang="ts" setup>
import Project from "@/types/Project";
const { path } = useRoute();

const { data: projects } = await useAsyncData("projects", () =>
  queryContent<Array<Project>>(path).find()
);
</script>

<style scoped>
</style>