<template>
  <ul class="blog-list">
    <li class="blog-item" v-for="(post, i) of posts" :key="post.slug">
      <article class="article">
        <img
          v-if="i === 0"
          class="article-image"
          :src="post.image"
          :alt="post.title"
        />
        <h3 class="article-title">{{ post.title }}</h3>
        <ClientOnly
          ><small class="article-date">{{
            format(post.created_at)
          }}</small></ClientOnly
        >

        <p class="article-description">
          {{ post.summary }}
        </p>
        <NuxtLink class="link" :to="`/posts/${post.slug}`">Read more</NuxtLink>
      </article>
    </li>
  </ul>
</template>

<script setup>
import { format } from "timeago.js";
defineProps({
  posts: {
    type: Array,
    default: [],
  },
});
</script>

<style lang="postcss" scoped>
.blog-list {
  @apply lg:grid lg:grid-rows-2 grid-cols-3 gap-4;
}

.blog-item {
  @apply lg:first:row-span-2 lg:first:col-span-2;
}

.blog-item:first-child > .article-image {
  @apply lg:hidden;
}

.article {
  @apply flex flex-col gap-4 h-full p-5 rounded-lg
  outline-primary-500 dark:outline-secondary-500
  hover:bg-gradient-to-br hover:from-transparent hover:to-primary-200 dark:hover:to-primary-900;
}

.article-image {
  aspect-ratio: 4/3;
  @apply rounded object-cover;
}

.article-title {
  @apply text-3xl text-primary-500 dark:text-secondary-500;
}

.link {
  width: max-content;
  @apply text-white dark:text-current rounded-full mt-auto px-4 py-2 bg-primary-500 hover:bg-primary-400;
}
</style>