<template>
  <ul class="cards" v-if="items.length > 0">
    <li class="card" v-for="item of items" :key="item.slug">
      <NuxtLink class="flex flex-col gap-3" :to="`projects/${item.slug}`">
        <img class="card-image" :src="item.image" :alt="item.title" />
        <h3 class="card-title">{{ item.title }}</h3>
        <p class="card-description">{{ item.summary }}</p>
        <div class="card-links" v-if="item.links && item.links.length > 0">
          <NuxtLink
            v-for="link of item.links"
            :key="link.to"
            :title="link.title"
            :to="link.to"
            class="project-link"
          >
            {{ link.title }}
          </NuxtLink>
        </div>
      </NuxtLink>
    </li>
  </ul>
</template>

<script lang="ts" setup>
import Post from "@/types/Post";
import Project from "@/types/Project";
import EntityType from "~~/types/EntityType";

interface Props {
  type: EntityType;
  items: Array<Project | Post>;
}

const { type, items } = defineProps<Props>();
</script>

<style lang="postcss" scoped>
.cards {
  @apply grid grid-cols-3 gap-5;
}

.card {
  @apply pb-5 overflow-hidden rounded-xl shadow dark:shadow-gray-800;
}

.card-image {
  @apply aspect-video object-cover;
}

.card-title {
  @apply px-4 text-secondary-500 text-2xl;
}

.card-description {
  @apply px-4;
}

.card-links {
  @apply px-4 flex gap-4 mt-auto;
}

.card-link {
  @apply rounded-full text-white dark:text-current px-4 py-2 bg-primary-500 hover:bg-primary-400;
}
</style>