<template>
  <ContentDoc class="content" :data="data"></ContentDoc>
</template>

<script setup>
defineProps({
  data: {
    type: Object,
    required: true,
  }
})
</script>

<style>

.content h2 {
  @apply mb-8;
}

.content p {
  @apply mb-4;
}

.content img {
  @apply w-full object-cover aspect-video;
}

.content a {
  @apply text-secondary-500 font-semibold;
}
</style>