<template>

    <form class="form" action="/">
      <label class="label" for="name">
        <span>Name</span>
        <input class="input" type="text" id="name" />
      </label>
      <label class="label" for="email">
        <span>Email</span>
        <input class="input" type="email" id="email" />
      </label>
      <label class="label" for="message">
        <span>Message</span>
        <textarea
          class="input"
          name="message"
          id="message"
          cols="30"
          rows="10"
        ></textarea>
      </label>
      <div class="flex gap-4 items-center">
        <button class="btn" type="submit">Submit</button>
        <a
          v-for="link of socials"
          :key="link.title"
          title="link.title"
          class="soc-link"
          :href="link.href"
          rel="noopener"
        >
          <Icon :name="link.icon" size="1.5rem" />
        </a>
      </div>
    </form>
</template>

<script setup>
defineProps({
  socials: {
    type: Array,
    default: []
  }
})
</script>

<style lang="postcss" scoped>
.form {
  @apply text-primary-500 grid gap-4;
}

.label {
  @apply flex flex-col gap-3 text-xl;
}

.input {
  @apply p-2 border-2 border-primary-200
  dark:border-primary-900 bg-transparent rounded
  focus:bg-primary-50
  dark:focus:bg-primary-900
  dark:focus:bg-opacity-75
  dark:text-white;
}

.btn {
  width: max-content;
  @apply bg-primary-500 text-xl py-2 px-14 text-white rounded;
}

.soc-link {
  @apply border-2 p-2 rounded border-primary-400;
}
</style>