<template>
  <footer class="footer">
    Built with
    <NuxtLink to="https://nuxt.com" target="_blank">Nuxt</NuxtLink> by
    <NuxtLink to="https://github.com/paparrot" target="_blank"
      >paparrot</NuxtLink
    >
    {{ new Date().getFullYear() }}
  </footer>
</template>

<script setup>
</script>

<style lang="postcss" scoped>
.footer {
  @apply border-gray-200 dark:border-gray-800 border-t-2 py-4 text-center;
}
</style>