<template>
  <header class="header">
    <div class="logo">
      <NuxtLink to="/">
        <img width="48" height="48" src="/logo.png" alt="Logo" />
      </NuxtLink>
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <NuxtLink to="/">Home</NuxtLink>
        </li>
        <li class="nav-item">
          <NuxtLink to="/about">About</NuxtLink>
        </li>
        <li class="nav-item">
          <NuxtLink to="/projects">Projects</NuxtLink>
        </li>
        <li class="nav-item">
          <NuxtLink to="/posts">Blog</NuxtLink>
        </li>
        <li class="nav-item">
          <a href="/#contacts">Contacts</a>
        </li>
      </ul>
      <button class="nav-btn" @click="onChangeColorMode">
        <svg
          v-if="$colorMode.preference === 'system'"
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-sun-high"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"
          ></path>
          <path d="M6.343 17.657l-1.414 1.414"></path>
          <path d="M6.343 6.343l-1.414 -1.414"></path>
          <path d="M17.657 6.343l1.414 -1.414"></path>
          <path d="M17.657 17.657l1.414 1.414"></path>
          <path d="M4 12h-2"></path>
          <path d="M12 4v-2"></path>
          <path d="M20 12h2"></path>
          <path d="M12 20v2"></path>
        </svg>

        <svg
          v-if="$colorMode.preference === 'dark'"
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-sun-moon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9.173 14.83a4 4 0 1 1 5.657 -5.657"></path>
          <path
            d="M11.294 12.707l.174 .247a7.5 7.5 0 0 0 8.845 2.492a9 9 0 0 1 -14.671 2.914"
          ></path>
          <path d="M3 12h1"></path>
          <path d="M12 3v1"></path>
          <path d="M5.6 5.6l.7 .7"></path>
          <path d="M3 21l18 -18"></path>
        </svg>

        <svg
          v-if="$colorMode.preference === 'light'"
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-moon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
          ></path>
        </svg>
      </button>
    </nav>
  </header>
</template>

<script>
export default {
  name: "Header.vue",
  data: () => ({
    colorModes: ["dark", "system", "light"],
  }),
  methods: {
    onChangeColorMode() {
      const currentMode = this.$colorMode.preference;
      let currentModeIndex = this.colorModes.findIndex(
        (item) => item === currentMode
      );

      if (currentModeIndex === 2) {
        currentModeIndex = -1;
      }

      this.$colorMode.preference = this.colorModes[currentModeIndex + 1];
    },
  },
};
</script>

<style lang="postcss" scoped>
.header {
  @apply flex items-center justify-between px-24 py-6;
}

.nav {
  @apply flex gap-3 items-center text-primary-600 dark:text-secondary-500;
}

.nav-list {
  @apply flex gap-3 items-center;
}

.nav-item {
  @apply font-bold lowercase;
}

.nav-btn {
  @apply rounded p-1;
}
</style>