<template>
  <section class="hero">
    <div class="hero-text">
      <h1 class="title" v-html="data.title" />
      <p class="subtitle">{{ data.subtitle }}</p>
    </div>
    <img class="hero-image" :src="data.image.src" :alt="data.image.alt" />
  </section>
</template>

<script setup>
defineProps({
  data: {
    type: Object
  }
})
</script>

<style lang="postcss" scoped>
.hero {
  @apply grid grid-cols-12 gap-2;
}

.title {
  @apply mb-6;
  line-height: 110%;
}

.subtitle {
  @apply text-lg;
}

.hero-text {
  @apply col-span-7 flex flex-col justify-center items-start;
}

.hero-image {
  @apply col-span-5 rounded-3xl outline outline-primary-500 dark:outline-secondary-500;
}
</style>