<template>
  <ul class="list" v-if="items.length > 0">
    <li class="item" v-for="item of items" :key="item.slug">
      <article class="item-article">
        <div class="item-header">
          <Icon
            v-show="type === EntityType.project"
            class="item-icon"
            :name="icon(item.state)"
          />
          <hr v-show="type === EntityType.project" class="item-hr" />
          <h3 class="item-title">{{ item.title }}</h3>
          <ul class="item-tags" v-if="item.tags && item.tags.length > 0">
            <li class="tag" v-for="tag of item.tags" :key="tag">
              <NuxtLink :to="`tags?type=${type}&tag=${tag}`">
                {{ tag }}
              </NuxtLink>
            </li>
          </ul>
        </div>
        <div class="item-content">
          <p>{{ item.summary }}</p>
        </div>
        <NuxtLink class="item-link" :to="`${type}s/${item.slug}`"
          >Read more</NuxtLink
        >
      </article>
    </li>
  </ul>
</template>

<script lang="ts" setup>
import Post from "@/types/Post";
import Project from "@/types/Project";
import EntityType from "@/types/EntityType";

interface Props {
  items: Array<Post | Project>;
  type: EntityType;
}

const { items, type }: Props = defineProps<Props>();

const icon = (state: string | null): string => {
  switch (state) {
    case "in-progress":
      return "mdi:progress-helper";
    case "completed":
      return "tabler:discount-check";
    default:
      return "material-symbols:pause-circle-outline";
  }
};
</script>

<style lang="postcss" scoped>
.list {
  @apply flex flex-col divide-y-2 dark:divide-primary-900 divide-primary-200;
}

.item {
  @apply py-8;
}

.item-header {
  @apply dark:text-secondary-500 text-primary-500 mb-5 flex items-center gap-4;
}

.item-title {
  @apply text-3xl;
}

.item-hr {
  @apply dark:border-secondary-500 border-primary-500 w-3 border;
}

.item-tags {
  @apply flex gap-2;
}

.tag {
  @apply text-xs;
}

.tag > a {
  @apply text-gray-800 dark:text-white border-2 dark:border-primary-500 border-secondary-500 rounded-full px-4 py-1;
}

.item-content {
  @apply text-xl mb-4;
}

.item-link {
  @apply text-secondary-500 dark:text-primary-500;
}
</style>