<template>
  <section class="skills">
    <h2>Skills</h2>
    <ul class="skills-list">
      <li class="skills-item" v-for="skill of skills" :key="skill.title">
        <Icon :name="skill.icon" size="1.5rem" />
        <span>{{ skill.title }}</span>
      </li>
    </ul>
  </section>
</template>

<script setup>
const { skills } = defineProps({
  skills: {
    type: Array,
    default: [],
  },
});
</script>

<style lang="postcss" scoped>
.skills-list {
  @apply grid grid-cols-4 gap-4;
}

.skills-item {
  @apply flex gap-2 p-4 outline rounded outline-primary-500 text-primary-500 font-semibold items-center justify-center;
}
</style>