@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

section {
    @apply my-16;
}

img {
    @apply relative overflow-hidden;
}

img[alt]:after {
    @apply bg-gradient-to-br from-primary-200 to-secondary-200 text-primary-800 dark:text-white dark:from-primary-600 dark:to-secondary-600 dark:saturate-50 absolute top-0 left-0 w-full h-full text-center flex justify-center items-center p-4;
    content: attr(alt);
}

h1 {
    @apply text-5xl font-extrabold
    text-transparent bg-clip-text
    bg-gradient-to-r from-primary-500 to-secondary-500
    mb-8;
    line-height: 140%;
}

h2 {
    @apply text-4xl mb-8 text-secondary-500 font-semibold;
}