<template>
  <img
    class="post-banner"
    v-show="post.image"
    :src="post.image"
    :alt="post.title"
  />
  <h1>{{ post.title }}</h1>
  <Content :data="post" />
</template>

<script lang="ts" setup>
import Post from "@/types/Post";

const { path } = useRoute();
const { data: post } = await useAsyncData<Post>("post", () =>
  queryContent<Post>(path).findOne()
);

if (!(await post.value?.slug)) {
  throw createError({ statusCode: 404, message: "Post not found." });
}
</script>

<style lang="postcss" scoped>
.post-banner {
  @apply aspect-video object-cover mb-10;
}
</style>