<template>
  <h1>Blog</h1>
  <list type="post" :items="posts"></list>
</template>

<script lang="ts" setup>
import Post from "@/types/Post";
const { data: posts } = await useAsyncData("posts", () =>
  queryContent<Array<Post>>("posts").sort({ created_at: -1 }).find()
);
</script>

<style scoped>
</style>