<template>
  <h1>{{ page.title }}</h1>
  <Content :data="page"></Content>
</template>

<script setup>
const { path } = useRoute();
const { data: page } = await useAsyncData("page", () =>
  queryContent(path).findOne()
);
</script>

<style scoped>
</style>