<template>
  <hero :data="main.hero" />
  <skills :skills="main.skills" />

  <section v-if="main.projects.show">
    <h2>{{ main.projects.title }}</h2>
    <list type="project" :items="projects" />
    <NuxtLink
      class="
        block
        w-max
        rounded
        mx-auto
        bg-primary-500
        text-white
        px-6
        py-2
        text-lg
      "
      to="/projects"
    >
      Show more projects
    </NuxtLink>
  </section>

  <section v-if="main.posts.show">
    <h2>{{ main.posts.title }}</h2>
    <blog-latest :posts="posts" />
    <NuxtLink
      class="
        mt-8
        block
        w-max
        rounded
        mx-auto
        bg-primary-500
        text-white
        px-6
        py-2
        text-lg
      "
      to="/posts"
    >
      Show more articles
    </NuxtLink>
  </section>

  <section id="contacts">
    <h2>Contacts</h2>
    <contact-form :socials="main.socials" />
  </section>
</template>

<script setup>
const { data: main } = await useAsyncData("main", () =>
  queryContent("main").findOne()
);

const { data: posts } = await useAsyncData("posts", () => {
  return queryContent("posts")
    .limit(main.value.posts.limit)
    .sort({ created_at: -1 })
    .find();
});

const { data: projects } = await useAsyncData("projects", () => {
  return queryContent("projects")
    .limit(main.value.projects.limit)
    .sort({ created_at: -1 })
    .find();
});
</script>

<style scoped>
</style>