<template>
  <h1>Tags</h1>
  <div class="types">
    <button
      @click="onChangeType(EntityType.project)"
      class="type-btn"
      :class="{ 'active-type-btn': state.type === EntityType.project }"
    >
      Project
    </button>
    <button
      @click="onChangeType(EntityType.post)"
      class="type-btn"
      :class="{ 'active-type-btn': state.type === EntityType.post }"
    >
      Post
    </button>
  </div>
  <ul class="tags" v-if="state.tags.length > 0">
    <li
      v-for="tag of state.tags"
      :key="tag"
      :class="{ 'tag-active': tag === state.tag }"
      class="tag"
    >
      <button @click="onChangeTag(tag)">{{ tag }}</button>
    </li>
  </ul>
  <list :type="state.type" :items="state.items" />
</template>

<script lang="ts" setup>
import EntityType from "@/types/EntityType";
import Post from "@/types/Post";
import Project from "@/types/Project";

const route = useRoute();
const router = useRouter();

const initialState = {
  tag: null,
  type: null,
  tags: [],
  items: [],
};

const { state } = reactive<{
  state: {
    tags: string[];
    items: Array<Post | Project>;
    type: EntityType | null;
    tag: string | null;
  };
}>({
  state: initialState,
});

const query = computed(() => route.query);

watch(query, async () => {
  validateRouteQuery();
  await loadItems();
});

const onChangeType = (newType: EntityType) => {
  state.items = [];
  state.type = newType;
  state.tags = [];
  loadTags();
};

onMounted(async () => {
  validateRouteQuery();
  await loadTags();
  await loadItems();
});

const onChangeTag = async (tag: string, type?: EntityType): Promise<void> => {
  if (type) {
    state.type = type;
  }
  state.tag = tag;

  router.push({
    path: route.path,
    query: { type: state.type, tag: state.tag },
  });
};

const loadTags = async (): Promise<void> => {
  const entities: Array<{ tags: string[] }> = await queryContent(
    `${state.type}`
  )
    .only("tags")
    .find();

  const result: string[] = [];

  for (const entity of entities) {
    if (entity.tags) {
      entity.tags
        .filter((item) => !result.includes(item))
        .forEach((item) => result.push(item));
    }
  }

  state.tags = result;
};

const loadItems = async () => {
  const items = queryContent<Project | Post>(`${state.type}s`)
    .where({ tags: { $contains: state.tag as string } })
    .find();

  state.items = await items;
};

const validateRouteQuery = () => {
  const { tag, type } = query.value;

  if (type) {
    if (!Object.values(EntityType).includes(type as EntityType)) {
      throw createError({
        statusCode: 422,
        message: "Invalid type of entity",
      });
    }

    state.type = type as EntityType;
  }

  if (tag) {
    if (typeof tag !== "string") {
      throw createError({ statusCode: 422, message: "Invalid type of tag" });
    }

    if (!type) {
      throw createError({
        statusCode: 422,
        message: "Type is required",
      });
    }

    state.tag = tag;
  }
};
</script>

<style lang="postcss" scoped>
.types {
  @apply overflow-hidden rounded-2xl flex border border-primary-500 dark:border-secondary-500 justify-between divide-primary-500 divide-x dark:divide-secondary-500;
}

.type-btn {
  @apply w-1/2 py-4;
}

.type-btn.active-type-btn {
  @apply bg-primary-200 dark:bg-secondary-800;
}

.tags {
  @apply flex gap-2 py-8 justify-center;
}

.tag {
  @apply px-4 py-2 border-2 border-primary-500 dark:border-secondary-500 rounded-full;
}

.tag-active {
  @apply bg-primary-200 dark:bg-secondary-900;
}
</style>